- breadcrumb :student_payments, student
= student.decorate.full_name
%table.table.table-condensed
  %thead
    %tr
      %th Payment date
  %tbody
    - student_payments.each do |payment|
      %tr
        %td= payment.decorate.payment_date
= link_to t('shared.back'), students_path, class: 'btn btn-default'
